# Line endings
* text=auto

# Specific file types
*.csv text eol=lf
*.md text eol=lf
*.sparql text eol=lf
*.py text eol=lf
*.nt text eol=lf

# Binary files
*.jar binary
*.zip binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary